h1	{ text-align: center;
    	border: 3px solid green;}
body	{background: DimGrey;
	color: white;	}
table	{
	color: white}
p	{text-align: center;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#imgB {border: solid thick Black; }

a 	{color: white;}
a:visited { color: yellow; }
a:hover {color: White; }

body>header>nav>ul>li { display: inline-block;
			text-align: center;
 }
body>header { text-align: center; }
body>header>nav>ul {
    margin: 0;
    padding: 0;
    background-color: DimGray;
    list-style-type: none;
}
body>header>nav>ul>li:hover { background-color: MidnightBlue; }
body>header>nav>ul>li:active { background-color: White; }
body>header>nav>ul>li>a {
    display: block;
    padding: 1em;
    color: White;
    text-decoration: none;
}

body>figure {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
